<!DOCTYPE html>
<html>
    <head>
        <title>Task Manager</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="icon" href="static/img/icon.png">
        <link rel="stylesheet" href="static/css/index.css">
    </head>
    <body>
        <div id="main-container">
            <div id="setting-section">
                <div class="setting-section-option"><i class="fa fa-search"></i>&nbsp&nbspSearch</div>
                <div class="setting-section-option"><i class="fa fa-refresh"></i>&nbsp&nbspUpdates</div>
                <div class="setting-section-option"><i class="fa fa-gear"></i>&nbsp&nbspSetting</div>
                <div class="setting-section-option"><i class="fa fa-plus"></i>&nbsp&nbspNew Page</div>
                <div class="setting-section-option"><i class="fa fa-check"></i>&nbsp&nbspTask list</div>
                <div class="setting-section-option"><i class="fa fa-pencil"></i>&nbsp&nbspJournal</div>
                <div class="setting-section-option"><i class="fa fa-trash"></i>&nbsp&nbspTrash</div>
                <div class="setting-section-option"><i class="fa fa-upload"></i>&nbsp&nbspUpload</div>
                <div class="setting-section-option"><i class="fa fa-magic"></i>&nbsp&nbspTheme</div>
                <div class="setting-section-option"><i class="fa fa-language"></i>&nbsp&nbspTranslate</div>
            </div>
            <div id="working-section">

            </div>
        </div>
    </body>
</html>